$primary-admin-color: #AFAFAF;
$secondary-admin-color: #676767;
$white-admin-color: #FFFFFF;
$black-admin-color: #000000;
$accent-admin-color: #D61A3C;
$accent-light-admin-color: #ff9994;
$accent-dark-admin-color: #650000;
